a, input, select, textarea {
	outline:none !important;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}
textarea {
	resize: none;
}
a {
	color:#cba457;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
}
a:hover, a:focus {
	text-decoration:none;
	color:#cba457;
}
body {
	overflow-x:hidden;
	position:relative;
	margin: 0;
	padding:0;
	font-family: 'Oxygen', sans-serif;
	font-weight:400;
	font-size: 13px;
	line-height: 20px;
	color: #9c9c9c;
    background-image: url(../images/bg.jpg);
    background-position: 0 0 !important;
    background-repeat: repeat;
}
.navbar {margin:0;
}
.box_shadow {
	background:#fff;
	padding:0 20px;
	box-shadow:0 0 5px rgba(0,0,0,0.5);
}
.header {
	padding: 0 20px;
	margin: 0 -20px;
	background:url(../images/header_bg.png) repeat-x #fff;
}

.fleft {float:left;
}
.fright {float:right;
}
.clear {
	height:0;
	clear:both;
	font-size:0;
}
img {
	outline:0;
	vertical-align:top;
}
.logo img {
    max-width:100%;
    margin-top: 28px;
}

div.wrap{
    padding: 50px 0;
}

/*nav*/
.navbar .nav {margin:35px 0 0;
}
.menu_wrap .nav li {
	margin: 0;
	padding: 0;
	position: relative;
	display:inline-block;
}
.menu_wrap .nav li:first-child {
	border-left: 0;
	padding-left:0;
}
#main_menu select {
	display: none;
	background-color: #f5f5f5;
	border: 1px solid #d7d7d7;
	color:#959595;
}
.menu_wrap .nav li:first-child a:focus,
.menu_wrap .nav li:first-child a {
}
.menu_wrap .nav li a:focus,
.menu_wrap .nav li a {
	position:relative;
	z-index:10;
	padding:0 25px;
	line-height:47px;
	color: #5f5f5f;
	font-size:15px;
	text-align:left;
	text-shadow: none;
}
.menu_wrap .nav li.last a {padding-right:0;
}
.menu_wrap .nav li:hover a,
.menu_wrap .nav li.current:hover a,
.menu_wrap .nav li.current a {
	color:#cba457;
}

.menu_wrap .nav li a.current{
	color: #cba457;
}

.sub-menu > a {position: relative;
}

.menu_wrap .nav ul {
	position: absolute;
	display: none;
	width: 160px;
	left: 0;
	top: 67px;
	list-style: none;
	z-index: 25;
	padding: 0;
	margin: 0;
	border:1px solid #e0e0e0;
	border-top:2px solid #cba457;
}

.menu_wrap .nav  .sub-menu li  {
	margin:0;
	padding:0;
	width:100%;
	border-top: 1px solid #e0e0e0;
}
.menu_wrap .nav  .sub-menu li:first-child  {
	border-top: 0;
}
.menu_wrap .nav  .sub-menu li:first-child a {
	padding-left:25px;
}
.menu_wrap .nav ul li a:focus,
.menu_wrap .nav ul li a {
	display: block;
	margin: 0 !important;
	padding: 7px 10px 7px 25px;
	text-transform: none;
	font-size: 12px;
	font-weight:400;
	color:#5f5f5f !important;
	line-height: 18px;
	background:#fff !important;
	text-shadow: none;
	border: 0 !important;
}
.menu_wrap .nav ul li a span {display:none;
}
.menu_wrap .nav > li > ul li > a:hover,
.menu_wrap .nav > li > ul li.current > a {
	text-decoration: none;
	color:#cba457 !important;
}

.menu_wrap .nav ul ul {
  position: absolute;
  display: none;
  width: 133px;
  left: 133px;
  top: -6px;
  height: auto;
  list-style: none;
  z-index: 111;
  padding: 14px 0 7px 0;
  margin: 0;
  border-top:0;
}
.page_container {
	padding-bottom:49px;
}
.block {
	padding-bottom:50px;
}


/* _________________________ Planning Block _________________________ */
.planning {
	margin:0 -20px 45px;	
	padding:50px 20px 35px;
	background:#f5f5f5;
}

.planning .bread {
    margin-left: 39px;
}
.planning a {
	display:block;
	padding:4px;
	box-shadow:0 0 5px rgba(0,0,0,0.2);
}
.service_block {
	overflow:hidden;
	position:relative;
	display:block;
	padding:25px 135px 25px 15px;
	color:#959595;
	background:#fff;
	box-shadow:0 0 0 6px #fff;
	border:1px solid #cba457;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

.planning a:hover .service_block {
	border:1px solid #ff9903;
}

.planning a .icon_block {
	position:absolute;
	right:-10px;
	top:0;
	margin: 0;
	opacity:1;
	filter: alpha(opacity=100);
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}
.planning a:hover .icon_block {
	opacity:0.6;
	filter: alpha(opacity=60);
	transform: scale(1.5) rotate(15deg);
	-webkit-transform: scale(1.5) rotate(15deg);
}

.planning a .link_title {
	font-size:16px;
	color:#5f5f5f;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.planning a:hover .link_title {
	color:#ff9903;
}

/* ________________________ //Planning Block ________________________ */


/* ________________________ //Post_prev Block ________________________ */
.post_prev a.post_img {
	position:relative;
	display:block;
	float:left;
	margin:0 20px 10px 0;
	background:#000;
}

.post_prev a.title {
	display:block;
	margin:0 0 1px;
	padding:0;
	font-size:15px;
	color:#5f5f5f;
}
.post_prev:hover a.title {color:#ff9903;
}
.post_prev span.post_prev_date {
	display:block;
	margin-bottom:18px;
	font-size:12px;
	color:#b3b3b3;
}


/* ________________________ //Post_prev Block ________________________ */

h1, h2, h3, h4, h5, h6 {
	color:#5f5f5f;
	font-weight:400;
}
h2.title {
	margin:0 0 24px 0;
	line-height:25px;
	font-size:18px;
}

h2.post_title a {
	font-size:18px;
	line-height:25px;
	color:#5f5f5f;
	text-transform:none;
}
h2.post_title a:hover {
	color:#cba457;
	text-decoration:none;
}
.post h2.title {
	background:none;
}
.post h2.title span {
	margin:0;
	padding:0;
	background:none;
}
.post h2.title span:before {
	display:none;
}
p.last {margin-bottom:15px;
}
[class*="span"] {margin-bottom:15px;
}
[class*="span"] img, [class*="span"] iframe {max-width:100%;
}
.grey {color:#9d9d9d;
}
.block ul.the-icons {
	margin-left:0;
	margin-bottom:5px;
}
.upper {text-transform:uppercase;
}
h2.upper {
	margin-bottom:12px;
	margin-top:0;
}

/* _________________________ Recent Gallery _________________________ */
.recent_gal_block {margin-bottom:48px;
}
.proj_block {
	position:relative;
	background:#000;
}
.portfolio_zoom1 {
	position:absolute;
	z-index:2;
	top:20%;
	left:50%;
	display:inline-block;
	width:25px;
	height:25px;
	margin-left:-12px;
	background-image:url(../images/zoom.png);
	background-color:#fff;
	background-repeat:no-repeat;
	border:1px solid #cba457;
	box-shadow:0 0 0 3px #fff;
	opacity:0;
	filter: alpha(opacity=0);
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}
.recent_gal_block li:hover .portfolio_zoom1 {
	top:96px;
	opacity:1;
	filter: alpha(opacity=100);
}
.proj_descr {
	padding:15px 10px 0;
	text-align:center;
	box-shadow:0 0 3px rgba(0,0,0,0.2);
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.proj_descr p {
	font-size:15px;
	color:#5f5f5f;
}
.recent_gal_block li:hover p {
	color:#ff9903;
}
.proj_descr a {
	position:relative;
	bottom:-13px;
	display:inline-block;
	margin:5px 0 0;
	padding:0 15px;
	background-color:#cba457;
	border:1px solid #fff;
	box-shadow:0 0 0 3px #cba457;
	line-height:24px;
	color:#fff;
}
.recent_gal_block li:hover .proj_descr a {
	background-color:#ff9903;
	box-shadow:0 0 0 3px #ff9903;
}

/* ________________________ //Recent Gallery ________________________ */



.news_block {margin-bottom:5px;
}

.block:last-child {padding-bottom:0;
}
ul, .follow_us ul, #footer ul {
	padding:0;
	margin:0;
	list-style:none;
}
.block li, #footer li {
}

#footer {
	position:relative;
	margin:0 -20px;
	padding:22px 20px 0;
	background:#eaeaea;
	color:#9c9c9c;
}
#footer:before {
	content:'';
	position:absolute;
	left:0;
	top:-3px;
	width:100%;
	height:3px;
	background:url(../images/foot_bg.png) repeat-x;
}
#footer a {
	color:#cba457;
}
#footer h2.title {
	margin-bottom:20px;
	border-bottom: 0;
	line-height:25px;
	color:#5f5f5f;
	font-size:16px;
}
#footer h2.title span {
}
#footer h2.title span:before {
	display:none;
}

#footer p {margin-bottom:0px;
}

a.foot_logo {
	display:inline-block;
	margin:0 0 12px;
}

ul.twitter_list li {
	padding:0 0 10px 30px !Important;
	margin-bottom:15px !important;
	list-style:none;
	background:url(../images/twitter.png) no-repeat left top;
}

span.tweet_time {display:none !important;
}
ul.twitter_list,
ul.tweet_list {margin-left:0;
}

#footer li {
	padding:0 0 15px 0;
	margin-bottom:15px;
	line-height:16px;
}
#footer li:last-child {
	border-bottom:0;
	padding-bottom:0;
	margin-bottom:0;
}

.page_container textarea,
.page_container input[type="text"],
.page_container input[type="password"],
.page_container input[type="datetime"],
.page_container input[type="datetime-local"],
.page_container input[type="date"],
.page_container input[type="month"],
.page_container input[type="time"],
.page_container input[type="week"],
.page_container input[type="number"],
.page_container input[type="email"],
.page_container input[type="url"],
.page_container input[type="search"],
.page_container input[type="tel"],
.page_container input[type="color"],
.page_container input {
	padding: 3px 6px;
	font-size: 12px;
	color: #9a9a9a;
	font-style:normal;
	border-radius: 0;
	box-shadow: none;		  
}
.page_container textarea:focus,
.page_container input[type="text"]:focus,
.page_container input[type="password"]:focus,
.page_container input[type="datetime"]:focus,
.page_container input[type="datetime-local"]:focus,
.page_container input[type="date"]:focus,
.page_container input[type="month"]:focus,
.page_container input[type="time"]:focus,
.page_container input[type="week"]:focus,
.page_container input[type="number"]:focus,
.page_container input[type="email"]:focus,
.page_container input[type="url"]:focus,
.page_container input[type="search"]:focus,
.page_container input[type="tel"]:focus,
.page_container input[type="color"]:focus {
	outline: 0;
	box-shadow: none;
	border:1px solid #706242;
}

#footer textarea,
#footer input[type="text"] {
	float:left;
	margin:0 4px 4px 0;
	padding: 3px 6px;
	width:172px;
	font-size: 12px;
	color: #9a9a9a;
	font-style:normal;
	border-radius: 0;
	background: #fafafa;
	border: 1px solid #fafafa;
	box-shadow: none;		  
}
#footer textarea {
	min-height:99px !important;
	width:362px;
	overflow:hidden;
	resize: none;
}
#footer textarea:focus,
#footer input[type="text"]:focus,
#footer input[type="password"]:focus,
#footer input[type="datetime"]:focus,
#footer input[type="datetime-local"]:focus,
#footer input[type="date"]:focus,
#footer input[type="month"]:focus,
#footer input[type="time"]:focus,
#footer input[type="week"]:focus,
#footer input[type="number"]:focus,
#footer input[type="email"]:focus,
#footer input[type="url"]:focus,
#footer input[type="search"]:focus,
#footer input[type="tel"]:focus,
#footer input[type="color"]:focus {
	outline: 0;
	box-shadow: none;
	border: 1px solid #e8e8e8;
}

.contact_btn {
	position:relative !important;
	padding:6px 13px !important;
	background-image:none;
	background-color:#cba457 !important;
	background-repeat:no-repeat;
	border: 0 !important;
	border-radius: 0;
	box-shadow: none;
	text-decoration:none;
	font-family: 'Oxygen', sans-serif;
	font-weight:400;
	line-height:16px;
	text-shadow:none;
	font-size:13px !important;
	color:#fff !important;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.contact_btn:hover {
	background-color:#fafafa !important;
	background-image:none;
	color:#717171 !important;
	text-shadow:none;
}

.footer_bottom {
	margin:0 -20px;
	background:#d9d9d9;
	padding:13px 0 16px;
}
.copyright {
	padding:0;
	font-size:12px;
	color:#6a6a6a;
}

.social ul{
	list-style-type: none;
}

.social ul li{
	display: inline-block;
	margin-right: 6px;
}

.social ul li a{
	display: block;
}

.social ul li a i{
	transition: color .5s;
	-webkit-transition: color .5s;
	-moz-transition: color .5s;
}

.social ul li a:hover i{
	color: #ff9903;
}


.social p{
	color: #6a6a6a;
	font-size: 15px;
}



.breadcrumb {
	border-radius: 0;
	background: none;
	border-top:1px solid #e8e8e8;
	border-bottom:1px solid #e8e8e8;
	padding: 12px 0;
	margin:0 -20px 20px;
	list-style:none;
	color:#9c9c9c;
}
.breadcrumb span {
	color:#5f5f5f;
	padding:0 5px;
}
.breadcrumb a {
	padding-left:20px;
	color:#5f5f5f;
}

.profile {text-align:center;
}
.profile_title {
	font-size: 14px;
    margin:-5px 0 10px;
	font-family: 'Oxygen', sans-serif;
	font-weight:400;
}
.profile img {
	margin:10px auto 15px auto;
	width:169px;
	border-radius:3px;
}
legend {
	font-family: 'Oxygen', sans-serif;
	font-weight:400;
}

/* Portfolio */
.height_2column {min-height:312px;
}
.height_3column {min-height:240px;
}
.height_4column {min-height:200px;
}

.projects .hover_img {
	position:relative;
}

.portfolio_zoom, .portfolio_link {
	display:none;
	width:30px;
	height:30px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-15px 0 0 -30px;
	background-image:url(../images/zoom1.png);
	background-position:0 0;
	background-repeat:no-repeat;
	background-color: #505050;
	z-index:2;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.portfolio_link {
	margin-left: 1px;
	background-image:url(../images/link.png);
}
.portfolio_zoom:hover, .portfolio_link:hover {
	background-color: #cba457;
}
.portfolio_zoom a, .portfolio_link a {
	display:block;
	width:30px;
	height:30px;
	text-indent:-9999px;
}
.hover_img:hover .portfolio_zoom, .hover_img:hover .portfolio_link, .hover_img:hover .item_description { display:block;
}

.item_description {	
	text-align:center;
}
.item_description h6 a {
	margin:10px 0 10px 0;
	text-transform:none;
	font-size:16px;
	color:#5f5f5f;
}
.item_description h6 a:hover {
	color:#cba457;
}

/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;
}
.element {
  overflow: hidden;
  position: relative;
  margin-bottom:20px;
}
.element img {max-width:100%;
}

#options {padding:0 0 10px 0;
}
#filters {
	position: relative;
	padding:0;
	margin:25px 0 0 0;
}

.preloader {
	background:url(../images/preload_img.gif) center center no-repeat;
	display:block;
}

#portfolio_carousel {margin-bottom:20px;
}
#portfolio_carousel img {border-radius:3px;
}
#portfolio_carousel .carousel-control {
	position: absolute;
	top: 50%;
	left: 3px;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	border: 0;
	background:url(../images/slider_prev.png);
	background-position:0 0;
	background-repeat:no-repeat;
	background-color:#fff;
	border:1px solid #cba457;
	box-shadow:0 0 0 3px #fff;
	outline:none;
	border-radius:0;
	opacity:1;
	filter: alpha(opacity=100);
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
#portfolio_carousel .carousel-control.right {
	background-image:url(../images/slider_next.png);
	left:auto;
	right:3px;
}
#portfolio_carousel .carousel-control.right:hover {
	background-position:0 0;
}
#portfolio_carousel .carousel-control:hover {
	background-position:0 -28px;
	background-color:#cba457;
	border:1px solid #fff;
	box-shadow:0 0 0 3px #cba457;
}
.pad25 { padding-top:25px;
}
.pad5 { padding-top:5px;
}
.marg20 { margin-top:20px !important;
}

.post {padding-bottom:40px;
}
.post h2.title {margin-bottom:21px;
}

ul.links {margin-bottom:15px;
}
ul.links li {
	padding:0 0 3px 17px;
	margin:0;
	color:#cba457;
	background:url(../images/li_arrow.png) no-repeat left top;
}
ul.links li a {	color:#474747;
}
ul.links li a:hover {
	text-decoration:none;
	color:#cba457;
} 

.post img {
	margin-bottom:18px;
	max-width:100%;
}

.post_info {
	padding:5px 0;
	border-bottom:1px #cba457 dotted;
	border-top:1px #cba457 dotted;
	margin-bottom:12px;
	color:#555;
}
.post_info a {color:#202020;
}
.post_info a:hover {color:#cba457;
}
.post_info span {color:#202020;
}
.post img {border-radius:3px;
}
.sidebar { padding-top:9px;
}
.sidebar .tweet_arrows {display:none;
}
.widget { margin-bottom:25px;
}
.sidebar h2.title {
	text-transform:none;
	margin-bottom:18px;
	font-size:16px;
}
ul.recent_post, ul.twitter_list, ul.links {
	padding:0;
	margin:0;
	list-style:none;
}
ul.recent_post li {
	padding:0 0 8px 0;
	margin-bottom:13px;
	border-bottom:1px #dadada dotted;
	color:#555;
}
ul.recent_post li:last-child {
	border-bottom:0;
	margin-bottom:18px;
}
ul.recent_post li img {
	float:left;
	margin-right:15px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
ul.recent_post div {padding:3px 0 2px 0;
}
ul.recent_post div a {color:#474747;
}
ul.recent_post div a:hover {color:#cba457;
}

#filters li {
	display:inline-block;
}
#filters li a,
.tags a {
	display:inline-block;
	margin:0 0 4px 0;
	padding:0 11px;
	height:28px;
	line-height:28px;
	background-image:none;
	background-color:#fafafa;
	line-height:28px;
	font-size:13px;
	color:#707070 !Important;
	transition: none;
	-webkit-transition: none;
}
#filters li a:hover,
#filters li a.selected,
.tags a:hover {
	background-color:#ff9903;
	text-decoration:none;
	color:#fff !important;
}

.form-search .send_btn {
	margin:-6px 0 0;
	padding:3px 10px;
}

#comments {
	padding:0 0 7px 0;
	margin-bottom:25px;	
}
#comments ul {
	padding:0;
	margin:0;
	list-style:none;	
}
#comments ol {
	padding:0;
	margin:0;
	list-style:none;
}
#comments li {
	padding:0 0 23px 0;
	list-style:none;
}
.avatar {
	float:left;
	margin-right:11px;
	
}
.avatar img {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;	
}
.comment_right {display:table;	
}

.comment_info {padding-bottom:7px;
}
.comment_info span {padding:0 12px;
}
#comments ol li ul li {
	padding:23px 0 0 30px;
	margin:0;
}
#map {
	margin:0 0 15px 0;
	padding-top:6px;
}
.contact_form { padding-top:6px;
}
.contact_form textarea { min-height:260px !important;
}
.notification_error {
	color: #b94a48;
	background-color: #f2dede;
	border:1px #eed3d7 solid;
    height: auto;
    margin: 0 0 9px 0;
    padding: 10px;
    text-align: left;
}
.notification_ok {
    color: #3a87ad;
	background-color: #d9edf7;
	border:1px #bce8f1 solid;
    height: auto;
    margin: 0 0 9px 0;
    padding: 10px;
    text-align: center;
}

/* ___________________________________ Bootstrap style ___________________________________ */
.show-grid [class*="span"] {
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

.btn.disabled {
	color:#333 !important;
}

.nav-list .active a,
.nav-list .active a:hover,
.nav-list .active a:focus {
	background-color:#cba457;
}

.nav li a:hover,
.nav li a:focus,
.nav-tabs .active a,
.nav-tabs .active a:hover,
.nav-tabs .active a:focus,
.nav-pills .active a,
.nav-pills .active a:hover,
.nav-pills .active a:focus,
.dropdown-menu li a:hover,
.dropdown-menu li a:focus,
.dropdown-submenu:hover a,
.dropdown-submenu:focus a {
	background-color: #cba457;
	background-image: none;
}

.input-append .btn,
.input-append .add-on,
.input-prepend .add-on {
	padding:3px 5px;
}

.nav li a:hover, .nav li a:focus,
.nav-tabs .active a,
.nav-tabs .active a:hover,
.nav-tabs .active a:focus,
.nav-pills .active a,
.nav-pills .active a:hover,
.nav-pills .active a:focus,
.dropdown-menu li a:hover,
.dropdown-menu li a:focus,
.dropdown-submenu:hover a,
.dropdown-submenu:focus a,
.nav-tabs.nav-stacked li a,
.nav-tabs .active a,
.nav-tabs .active a:hover,
.nav-tabs .active a:focus,
.tabs-right .nav-tabs,
.tabs-right .nav-tabs .active a,
.tabs-right .nav-tabs .active a:hover,
.tabs-right .nav-tabs .active a:focus,
.tabs-left .nav-tabs,
.tabs-left .nav-tabs .active a,
.tabs-left .nav-tabs .active a:hover,
.tabs-left .nav-tabs .active a:focus,
.tabs-below .nav-tabs,
.tabs-below .nav-tabs .active a,
.tabs-below .nav-tabs .active a:hover,
.tabs-below .nav-tabs .active a:focus {
	border-color:#cba457;
	color:#fff;
}

.nav-tabs.nav-stacked li a {
	color:#242424;
}

.nav .dropdown-toggle:hover .caret,
.nav .dropdown-toggle:focus .caret,
.nav .dropdown-toggle .caret {
	border-bottom-color: #cba457;
    border-top-color: #cba457;
}

.nav-tabs li a,
.nav-pills li a {
	padding-left:9px;
	padding-right:9px;
}


/* __________________________________ //Bootstrap style __________________________________ */































